html {
  height: 200%;
  background-color: #333333;
}
#svg_1,
#svg_2,
#svg_3,
#svg_4,
#svg_5 {
  position: fixed ;
  width: 250px;
  height: 250px;
}
#svg_2 {
  margin-top: 250px;
}
#svg_3 {
  margin-top: 500px;
}
#svg_4 {
  margin-top: 750px;
}
#svg_5 {
  margin-top: 1000px;
}
#svg_1 path,
#svg_2 path,
#svg_3 path,
#svg_4 path,
#svg_5 path {
  fill-opacity: 0;
  stroke: #007fff;
  stroke-width: 1.5;
  fill: #0fffff;
}
